html {
    background: #141A32;
    color: white;
    text-align: justify;
}

p {
    color: white;
}

.class_navbar {
    color: white;
    background-color: #1E2747
}


.class_coluna_info {
    background-color: #1E2747;

}

#id_container {
    background: #141A32;
    border: 2px solid white;
    margin-botom: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.class_cor_fundo {
    background-color: #1E2747;
    color: white;
}

h4,
p {
    background-color: #1E2747;
}

h4 {
    text-align: center;
    color: white;
}

p.class_paragrafo {
    font-size: 15px;
    text-align: justify;
}

.class_paragrafo {
    text-decoration: none;
    color: white;
    background-color: #1E2747;

}

.id_link {
    text-align: justify;
}

li,
ul {
    background-color: #1E2747;
    margin-top: 10px;
    color: white;
}

.class_lista_imagens {
    height: 40px;
    width: 40px;
    background-color: #1E2747;
}

ul {
    columns: 2;
}

#id_text_feed_projetos {
    text-align: center;
    background-color: #1E2747
}

#id_segunda_linha_principal {
    margin-top: 10px;
    background-color: #1E2747

}

#id_titulo_feed {
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #1E2747
}

#id_linha_feed {
    margin-top: 10px;
}


#id_title_feed {
    font-size: 15px;
    color: white;
}

#id_img_contatos {
    background-color: #1E2747;
    display: flex;
    align-items: center;
    justify-content: center;
}

#id_img_git {
    margin-right: 10px;
}

#id_nav_bar {
    border: 10px white;

}

#page-content {
    background-color: #141A32;
}

#id_main_div {
    background-color: #141A32;
}

.class_card_projeto {
    margin-top: 20px;
    background-color: #141A32;
}

.class_linha_projeto {
    margin-left: 20px;
    margin-right: 20px;
}

#id_linhas_feed {
    margin-left: 20px;
    margin-right: 20px;
}