* {
    background-color: #000000;
    color: white;
    text-align: justify;
}

.class_navbar {
    color: #FD6C03;
}

#id_navbar_main .navbar-brand {
    color: #FD6C03;

}

#id_navbar_main {
    border: white;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}

.class_coluna_info {
    background-color: #1D1D1D
}

.class_cor_fundo {
    background-color: #1D1D1D;
}

h4,
p {
    background-color: #1D1D1D;
}

h4 {
    text-align: center;
    color: #FD6C03;
}

p.class_paragrafo {
    font-size: 15px;
    text-align: justify;
}

.class_paragrafo {
    text-decoration: none;
    color: white;
    background-color: #1D1D1D;

}

.id_link {
    text-align: justify;
}

li,
ul {
    background-color: #1D1D1D;
    margin-top: 10px;
}

.class_lista_imagens {
    height: 40px;
    width: 40px;
    background-color: #1D1D1D;
}

ul {
    columns: 2;
}