* {
    background-color: #141A32;
    color: white;
    text-align: justify;
}

.class_navbar {
    color: white;
}


.class_coluna_info {
    background-color: #1E2747
}

#id_container {
    color: #1E2747;
    border: 10px white;
    margin-bottom: 10px;
}

.class_cor_fundo {
    background-color: #1E2747;
}

h4,
p {
    background-color: #1E2747;
}

h4 {
    text-align: center;
}

p.class_paragrafo {
    font-size: 15px;
    text-align: justify;
}

.class_paragrafo {
    text-decoration: none;
    color: white;
    background-color: #1E2747;

}

.id_link {
    text-align: justify;
}

li,
ul {
    background-color: #1E2747;
    margin-top: 10px;
}

.class_lista_imagens {
    height: 40px;
    width: 40px;
    background-color: #1E2747;
}

ul {
    columns: 2;
}

#id_text_feed_projetos {
    text-align: center;
}

#id_segunda_linha_principal {
    margin-top: 10px;

}

#id_titulo_feed {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#id_linha_feed {
    margin-top: 10px;
}

#id_title_feed {
    font-size: 15px;
}

#id_img_contatos {
    background-color: #1E2747;
    display: flex;
    align-items: center;
    justify-content: center;
}

#id_img_git {
    margin-right: 10px;
}

